.nftCardContainer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(217, 215, 223, 0.7) 0px 2px 12px -8px, rgba(200, 198, 204, 0.05) 0px 1px 1px;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  gap: 5px;
  background-color: rgb(34, 33, 33) !important;
}

.stakedNftContainer {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  gap: 5px;
  background-color: rgb(34, 33, 33) !important;
}

@media (max-width:450px) {
  .stakedNftContainer {
    min-height: 550px;
  }
}

.nftIMG {
  box-shadow: rgba(132, 131, 134, 0.7) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
  width: 150px;
  height: 200px;
  border-radius: 20px;
}

.stakenftIMG {
  box-shadow: rgba(217, 215, 223, 0.7) 0px 2px 12px -8px, rgba(200, 198, 204, 0.05) 0px 1px 1px;
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .nftIMG {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
}